# Copy file ini jadi .env dan isi dengan data kamu
# JANGAN commit file .env ke GitHub!

# Discord Bot Token
token_bot=your_discord_bot_token_here

#Discord ID & Secret

DISCORD_CLIENT_ID=your_discord_id_here
DISCORD_CLIENT_SECRET=your_discord_secret_here

# .env (local)
DISCORD_REDIRECT_URI=http://192.168.1.29:8080/callback

# Railway Variables (production)
DISCORD_REDIRECT_URI=https://my-discord-bot-my-discord-bot.up.railway.app/callback'

# Flash Secret Key
FLASK_SECRET_KEY=random_string_rahasia_minimal_16_karakter

# Firebase (Mode 1: path file | Mode 2: JSON string 1 baris)
FIREBASE_KEY=serviceAccountKey.json

#API Gemini Ai HERE!
GEMINI_API_KEY=your_gemini_api_key_here

#GROQ API HERE!
GROQ_API_KEY=gsk_your_groq_api_key_here

#GOOGLE VISION API HERE!
GOOGLE_VISION_API_KEY=your_google_vision_api_key_here